/* Style Css */
@import url('./style.css');

/* Item */
.item-page {
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.main {
    flex-grow: 1;
}
.item-page .item-name {
    font-size: 25px;
    color: var(--gray-dark1-color);
    font-weight: 400;
}
.item-page .item-name::after {
    content: '';
    position: relative;
    bottom: 5px;
    display: inline-block;
    border-bottom: 1px solid var(--primary-color);
    width: 35%;
}
.item-page .item-price {
    color: var(--primary-color);
}
.item-page .item-options .dropdown button {
    color: var(--gray-dark1-color);
    padding: 13px 25px;
    border: 1px solid var(--primary-color);
    font-size: 15px;
}
.item-page .item-options .dropdown button::after {
    margin-left: 1.455em;
}
.item-page .item-options .dropdown-list {
    top: 45px;
    border: none;
    background-color: var(--gray-lighten2-color);
}
.colors-checkbox {
    border: 1px solid var(--primary-color);
}
.colors-checkbox span {
    width: 20px;
    height: 20px;
    background-color: var(--checkbox-color);
    cursor: pointer;
    margin: 11.5px 10px;
}
.checkout {
    width: 100%;
    padding: 21px 0;
    font-size: 20px;
    letter-spacing: 2px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    transition: all 0.2s ease-in-out;
}
.checkout:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}
.accordion .contentBox {
    position: relative;
}
.accordion .contentBox .label {
    position: relative;
    background-color: transparent;
    color: var(--gray-dark1-color);
    font-size: 20px;
}
hr {
    border: 1px solid #f6f6f6;
}
.accordion .contentBox .label::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
    color: var(--primary-color);
}
.accordion .contentBox.active .label::before {
    content: '-';
}
.accordion .contentBox .content {
    position: relative;
    background-color: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}
.accordion .contentBox.active .content {
    height: auto;
    padding-top: 25px;
    padding-bottom: 30px;
}
.accordion .contentBox.active .content p {
    line-height: 41px;
    color: var(--gray-lighten1-color);
    font-family: "lora", "sans-serif";
}
.thumbnails img {
    width: 31.53%;
    height: 135px
}
@media (max-width: 1199px) {
    .item-page .item-section {
        justify-content: center;
    }
    .item-page .slider {
        display: none;
    }
    .item-page .item-content {
        width: 70% !important;
    }
}
@media (max-width: 991px) {
    .item-page .item-content {
        width: 100% !important;
    }
}
@media (max-width: 576px) {
    .item-page .item-name {
        font-size: 20px;
    }
    .item-page .item-options {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: space-between;
    }
    .item-page .dropdown-list {
        width: 100%;
    }
    .item-page .item-info, .item-page .item-options, .checkout, .accordion {
        margin-bottom: 50px;
    }
    .color {
        margin-left: 35px;
    }
    .accordion .contentBox.active .content p {
        line-height: 30px;
    }
}

/* Similiar Items */
.similiar-items {
    background-color: var(--white-color);
}
.similiar-items-head {
    font-size: 30px;
    color: var(--primary-color);
}
.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: var(--grid-row);
    gap: 30px;
}
.name {
    color: var(--gray-dark1-color);
}
.price {
    color: var(--primary-color);
}